/*
 * General settings
 */
html, 
body,
.container {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}


/*
 * Menu for mobile (Off-Canvas)
 */
.navmenu {
  width: 200px;
  padding: 60px 10px 10px;
}

.navmenu-body {
  height: 100%;
  width: 100%;
  position: relative;
}

.navmenu-brand {
  text-align: center;
  padding: 20px 15px;
  margin: 0;
}

/*
 * Places list
 */
.places-container {
  position: absolute;
  top: 49px;
  bottom: 0;
  width: 100%;
}

.places-container .panel {
  margin: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.places-container .list-group {
  position: absolute;
  top: 41px;
  bottom: 0;
  overflow: auto;
  width: 100%;
}

.places-container .list-group a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nofound-places {
  font-size: 1em;
  text-align: center;
}


.navbar {
  display: block;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
  float: none;
}

.navbar-toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15px;
}

.container {
  padding: 0;
  max-width: 100%;
}


/*
 * Setup for responsive design
 */
@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }

  .navmenu {
  	width: 300px;
  	padding: 0px 15px 15px 15px;
  }

  .places-container {
    top: 109px;
  }

  .navbar {
    display: none !important; /* IE8 fix */
  }
}


#map-canvas {
	height: 100%;
}