/*
 * General settings
 */
html, 
body,
.container {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}


/*
 * Menu for mobile (Off-Canvas)
 */
.navmenu {
  width: 250px;
  padding: 60px 10px 10px;
}

.navmenu-brand {
  text-align: center;
  padding: 20px 15px;
  margin: 0;
}


/*
 * Places list
 */

.places a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nofound-places {
  font-size: 1em;
  text-align: center;
}


.navbar {
  display: block;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
  float: none;
}

.navbar-toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15px;
}

.container {
  padding: 0;
  max-width: 100%;
}

.foursquare-info-window {
  text-align: center;
  min-height: 236px;
  width: 220px;
}

.foursquare-place-photo {
  height: 120px;
  margin-bottom: 10px;
}

.foursquare-logo {
  width: 150px;
}


/*
 * Setup for responsive design
 */
@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }

  .navmenu {
    width: 350px;
  	padding: 0px 15px 15px 15px;
  }

  .navbar {
    display: none !important; /* IE8 fix */
  }

  .foursquare-info-window {
    text-align: left;
    width: 350px;
  }
}


#map-canvas {
	height: 100%;
}